<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,974},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>AB.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,942},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ABP.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,866},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ABT.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,163},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ABTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,83},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>AP.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,608},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>AT.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,866},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ATP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,507},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>BP.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,406},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1075},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>BTP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>GamePad-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,879},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-DL.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,605},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-DR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-L.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,618},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-U.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,357},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-UL.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,344},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad-UR.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,83},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>GamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{259,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,259}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,874},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>LP.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,819},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,764},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>RP.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,709},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>Select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>SelectP.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,801},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,660},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>StartP.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,519},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,305},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>XP.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,204},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,103},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>YP.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>bgEditorGamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,318},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>bg_resize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{299,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,106}}</string>
                <key>sourceSize</key>
                <string>{299,106}</string>
            </dict>
            <key>bg_slider_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,653},{206,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,42}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>bg_slider_resize.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,445},{206,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,42}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>btn_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{305,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,79}}</string>
                <key>sourceSize</key>
                <string>{305,79}</string>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{305,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,79}}</string>
                <key>sourceSize</key>
                <string>{305,79}</string>
            </dict>
            <key>btn_profiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,79}}</string>
                <key>sourceSize</key>
                <string>{305,79}</string>
            </dict>
            <key>icoMove.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,191},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ico_LR.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,357},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>ico_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,459},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>ico_dpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,388},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>ico_joystick.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,243},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>joyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,83},{272,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,272}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>joyDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,929},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>switch_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,861},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GamePad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d01e22917f08fc6bf03b815fcfb3630:1/1$</string>
            <key>textureFileName</key>
            <string>GamePad.png</string>
        </dict>
    </dict>
</plist>
